@font-face {
  font-family: 'Font-Anicons-1';
  src:  url('https://icons.anibr.org/v0.1/fonts/font-anicons.eot?lz5gee');
  src:  url('https://icons.anibr.org/v0.1/fonts/font-anicons.eot?lz5gee#iefix') format('embedded-opentype'),
    url('https://icons.anibr.org/v0.1/fonts/font-anicons.ttf?lz5gee') format('truetype'),
    url('https://icons.anibr.org/v0.1fonts/font-anicons.woff?lz5gee') format('woff'),
    url('https://icons.anibr.org/v0.1/fonts/font-anicons.svg?lz5gee#font-anicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Font-Anicons-1' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-anime-corner:before {
  content: "\e900";
}
.icon-anime-profile:before {
  content: "\e901";
}
.icon-aniplace:before {
  content: "\e902";
}
