@font-face {
  font-family: 'Font-Anicons-1';
  src:  url('/v0.1/fonts/Font-Anicons-1.eot?b9ad2a');
  src:  url('/v0.1/fonts/Font-Anicons-1.eot?b9ad2a#iefix') format('embedded-opentype'),
    url('/v0.1/fonts/Font-Anicons-1.ttf?b9ad2a') format('truetype'),
    url('/v0.1fonts/Font-Anicons-1.woff?b9ad2a') format('woff'),
    url('/v0.1/fonts/Font-Anicons-1.svg?b9ad2a#Font-Anicons-1') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Font-Anicons-1' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-anime-corner:before {
  content: "\e900";
}
.icon-anime-profile:before {
  content: "\e901";
}
.icon-aniplace:before {
  content: "\e902";
}
.icon-geekdot:before {
  content: "\e903";
}
